.footer__column-link {
  display: flex;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  transition: text-shadow, .5s ease;
}

.footer__column-link:hover {
  opacity: 0.8;
  text-shadow: 1px 20px 15px #fff;
}
